html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #F6F6F6;
}

* {
	box-sizing: border-box;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	background-color: #000000;
	width: 100%;
	margin: 0 auto;
}

header img {
	width: 240px;
}

header h1 {
	text-align: center;
	color: #F6F6F6;
}

main {
	display: flex;
	justify-content: center;
}

/* Panels */
.action-panel,
.output-panel {
	line-height: 1.4em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 1.5em 2em;
}

.output-panel {
	display: none;
	justify-content: flex-start;
	border: 2px solid;
	padding: 1em 2em;
}

.loading-panel {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	height: 400px;
	text-align: center;
}

.output-panel p {
	overflow-y: scroll;
	text-align: justify;
}

/* Text */
h2 {
	text-align: center;
	font-weight: 400;
	margin-top: -26px;
	background-color: #F6F6F6;
	padding: 0 10px;
	font-size: 18px;
	margin-bottom: 0;
}

p.tag-line {
	font-family: 'Comic Neue';
	font-weight: 700;
	font-size: 12px;
}

.ticker-choice-display {
	display: flex;
	align-items: center;
	height: 3em;
}

/* Controls */
form {
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	text-align: center;
	padding: .43em;
	font-size: 15px;
	margin-bottom: 1em;
	width: 80%;
}

.form-input-control {
	display: flex;
	width: 70%;
}

input[type="text"] {
	padding: 1em;
	border: 2px solid #000000;
	border-right: none;
}

/* Buttons */
.add-ticker-btn {
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	font-size: 3em;
	padding: 0 .35em;
	cursor: pointer;
	border: 2px solid;
}

.add-ticker-svg {
	width: 14px;
}

.generate-report-btn {
	font-family: 'Poppins', sans-serif;
	padding: 1em 1.5em;
	cursor: pointer;
	border: 2px solid #000000;
	background-color: #46FF90;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .09em;
	font-size: 105%;
}

/* Ticker Display (ensure comma separated) */
.ticker {
	margin: 0 .1em;
	content: '';
}

.ticker:after {
	content: ',';
}

.ticker:last-child::after {
	content: '';
}

/* Footer */
footer {
	font-size: 14px;
	text-align: center;
}

/* Remove scroll bar for some browser */
.output-panel p::-webkit-scrollbar {
	display: none;
}

.output-panel p::-moz-scrollbar {
	display: none;
}